<h1>Environment</h1>

<pre>ENV['RACK_ENV']: <%= ENV['RACK_ENV'] %></pre>

<h2>Rack Environment</h2>
<pre><%= JSON.pretty_generate(request.env) %></pre>

<h2>LOAD_PATH</h2>
<pre><%= $LOAD_PATH.join("<BR>") %></pre>
